@model Course
@{
    ViewData["Title"] = "Delete Course";
    Layout = "~/Views/Shared/_TeacherDashboard.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>DEELETE A COURSE</h2>
        </div>
        <!-- Input -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            DEELETE 

                        </h2>
                        <br />
                        <p> <a asp-action="Index">Back to List</a></p>
                    </div>
                    <div class="body">


                        <form asp-action="DeleteCourse">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group form-group-lg">
                                        <div class="form-line">
                                            <input type="text" asp-for="Title" class="form-control" placeholder="Title" readonly/>
                                            <span asp-validation-for="Title" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-lg">
                                        <div class="form-line">
                                            <textarea asp-for="Description" class="form-control" placeholder="Description" readonly></textarea>
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-lg">
                                        <div class="form-line">
                                            <input asp-for="Duration" class="form-control" placeholder="Duration" readonly/>
                                            <span asp-validation-for="Duration" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-lg">
                                        <div class="form-line">
                                            <label class="control-label">Course Image</label>
<img src="@Model.image" style="width:inherit"/>
                                        </div>
                                    </div>
                                   <input type="hidden" asp-for="CourseID"/>
                                    <div class="form-group form-group-lg">
                                        <div class="form-line">
                                            <input asp-for="Price" class="form-control" placeholder="Price" readonly/>
                                            <span asp-validation-for="Price" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-lg">
                                        <input type="submit" value="Delete" class="btn btn-primary" />

                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Input -->



    </div>



</section>



