
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title - teacher dashboard</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="/TeacherDashboard/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="/TeacherDashboard/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="/TeacherDashboard/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Morris Chart Css-->
    <link href="/TeacherDashboard/plugins/morrisjs/morris.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="/TeacherDashboard/css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="/TeacherDashboard/css/themes/all-themes.css" rel="stylesheet" />
</head>

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="index.html">ADMINBSB - MATERIAL DESIGN</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Call Search -->
                    <li><a href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li>
                    <!-- #END# Call Search -->
                    <!-- Notifications -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="material-icons">notifications</i>
                            <span class="label-count">7</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">NOTIFICATIONS</li>
                            <li class="body">
                                <ul class="menu">
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-light-green">
                                                <i class="material-icons">person_add</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>12 new members joined</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 14 mins ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-cyan">
                                                <i class="material-icons">add_shopping_cart</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>4 sales made</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 22 mins ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-red">
                                                <i class="material-icons">delete_forever</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>Nancy Doe</b> deleted account</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 3 hours ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-orange">
                                                <i class="material-icons">mode_edit</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>Nancy</b> changed name</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 2 hours ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-blue-grey">
                                                <i class="material-icons">comment</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>John</b> commented your post</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 4 hours ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-light-green">
                                                <i class="material-icons">cached</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>John</b> updated status</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 3 hours ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-purple">
                                                <i class="material-icons">settings</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>Settings updated</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> Yesterday
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="javascript:void(0);">View All Notifications</a>
                            </li>
                        </ul>
                    </li>
                    <!-- #END# Notifications -->
                    <!-- Tasks -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="material-icons">flag</i>
                            <span class="label-count">9</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">TASKS</li>
                            <li class="body">
                                <ul class="menu tasks">
                                    <li>
                                        <a href="javascript:void(0);">
                                            <h4>
                                                Footer display issue
                                                <small>32%</small>
                                            </h4>
                                            <div class="progress">
                                                <div class="progress-bar bg-pink" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 32%">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <h4>
                                                Make new buttons
                                                <small>45%</small>
                                            </h4>
                                            <div class="progress">
                                                <div class="progress-bar bg-cyan" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <h4>
                                                Create new dashboard
                                                <small>54%</small>
                                            </h4>
                                            <div class="progress">
                                                <div class="progress-bar bg-teal" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 54%">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <h4>
                                                Solve transition issue
                                                <small>65%</small>
                                            </h4>
                                            <div class="progress">
                                                <div class="progress-bar bg-orange" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <h4>
                                                Answer GitHub questions
                                                <small>92%</small>
                                            </h4>
                                            <div class="progress">
                                                <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 92%">
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="javascript:void(0);">View All Tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- #END# Tasks -->
                    <li class="pull-right"><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="material-icons">more_vert</i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="images/user.png" width="48" height="48" alt="User">
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">John Doe</div>
                    <div class="email">john.doe@example.com</div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block"><i class="material-icons">person</i>Profile</a></li>
                            <li role="seperator" class="divider"></li>
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block"><i class="material-icons">group</i>Followers</a></li>
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block"><i class="material-icons">shopping_cart</i>Sales</a></li>
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block"><i class="material-icons">favorite</i>Likes</a></li>
                            <li role="seperator" class="divider"></li>
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block"><i class="material-icons">input</i>Sign Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 339px;">
                    <ul class="list" style="overflow: hidden; width: auto; height: 339px;">
                        <li class="header">MAIN NAVIGATION</li>
                        <li class="active">
                            <a href="index.html" class="toggled waves-effect waves-block">
                                <i class="material-icons">home</i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="pages/typography.html" class=" waves-effect waves-block">
                                <i class="material-icons">text_fields</i>
                                <span>Typography</span>
                            </a>
                        </li>
                        <li>
                            <a href="pages/helper-classes.html" class=" waves-effect waves-block">
                                <i class="material-icons">layers</i>
                                <span>Helper Classes</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                                <i class="material-icons">widgets</i>
                                <span>Widgets</span>
                            </a>
                            <ul class="ml-menu">
                                <li>
                                    <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                                        <span>Cards</span>
                                    </a>
                                    <ul class="ml-menu">
                                        <li>
                                            <a href="pages/widgets/cards/basic.html" class=" waves-effect waves-block">Basic</a>
                                        </li>
                                        <li>
                                            <a href="pages/widgets/cards/colored.html" class=" waves-effect waves-block">Colored</a>
                                        </li>
                                        <li>
                                            <a href="pages/widgets/cards/no-header.html" class=" waves-effect waves-block">No Header</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                                        <span>Infobox</span>
                                    </a>
                                    <ul class="ml-menu">
                                        <li>
                                            <a href="pages/widgets/infobox/infobox-1.html" class=" waves-effect waves-block">Infobox-1</a>
                                        </li>
                                        <li>
                                            <a href="pages/widgets/infobox/infobox-2.html" class=" waves-effect waves-block">Infobox-2</a>
                                        </li>
                                        <li>
                                            <a href="pages/widgets/infobox/infobox-3.html" class=" waves-effect waves-block">Infobox-3</a>
                                        </li>
                                        <li>
                                            <a href="pages/widgets/infobox/infobox-4.html" class=" waves-effect waves-block">Infobox-4</a>
                                        </li>
                                        <li>
                                            <a href="pages/widgets/infobox/infobox-5.html" class=" waves-effect waves-block">Infobox-5</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                                <i class="material-icons">swap_calls</i>
                                <span>User Interface (UI)</span>
                            </a>
                            <ul class="ml-menu">
                                <li>
                                    <a href="pages/ui/alerts.html" class=" waves-effect waves-block">Alerts</a>
                                </li>
                                <li>
                                    <a href="pages/ui/animations.html" class=" waves-effect waves-block">Animations</a>
                                </li>
                                <li>
                                    <a href="pages/ui/badges.html" class=" waves-effect waves-block">Badges</a>
                                </li>

                                <li>
                                    <a href="pages/ui/breadcrumbs.html" class=" waves-effect waves-block">Breadcrumbs</a>
                                </li>
                                <li>
                                    <a href="pages/ui/buttons.html" class=" waves-effect waves-block">Buttons</a>
                                </li>
                                <li>
                                    <a href="pages/ui/collapse.html" class=" waves-effect waves-block">Collapse</a>
                                </li>
                                <li>
                                    <a href="pages/ui/colors.html" class=" waves-effect waves-block">Colors</a>
                                </li>
                                <li>
                                    <a href="pages/ui/dialogs.html" class=" waves-effect waves-block">Dialogs</a>
                                </li>
                                <li>
                                    <a href="pages/ui/icons.html" class=" waves-effect waves-block">Icons</a>
                                </li>
                                <li>
                                    <a href="pages/ui/labels.html" class=" waves-effect waves-block">Labels</a>
                                </li>
                                <li>
                                    <a href="pages/ui/list-group.html" class=" waves-effect waves-block">List Group</a>
                                </li>
                                <li>
                                    <a href="pages/ui/media-object.html" class=" waves-effect waves-block">Media Object</a>
                                </li>
                                <li>
                                    <a href="pages/ui/modals.html" class=" waves-effect waves-block">Modals</a>
                                </li>
                                <li>
                                    <a href="pages/ui/notifications.html" class=" waves-effect waves-block">Notifications</a>
                                </li>
                                <li>
                                    <a href="pages/ui/pagination.html" class=" waves-effect waves-block">Pagination</a>
                                </li>
                                <li>
                                    <a href="pages/ui/preloaders.html" class=" waves-effect waves-block">Preloaders</a>
                                </li>
                                <li>
                                    <a href="pages/ui/progressbars.html" class=" waves-effect waves-block">Progress Bars</a>
                                </li>
                                <li>
                                    <a href="pages/ui/range-sliders.html" class=" waves-effect waves-block">Range Sliders</a>
                                </li>
                                <li>
                                    <a href="pages/ui/sortable-nestable.html" class=" waves-effect waves-block">Sortable &amp; Nestable</a>
                                </li>
                                <li>
                                    <a href="pages/ui/tabs.html" class=" waves-effect waves-block">Tabs</a>
                                </li>
                                <li>
                                    <a href="pages/ui/thumbnails.html" class=" waves-effect waves-block">Thumbnails</a>
                                </li>
                                <li>
                                    <a href="pages/ui/tooltips-popovers.html" class=" waves-effect waves-block">Tooltips &amp; Popovers</a>
                                </li>
                                <li>
                                    <a href="pages/ui/waves.html" class=" waves-effect waves-block">Waves</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                                <i class="material-icons">assignment</i>
                                <span>Forms</span>
                            </a>
                            <ul class="ml-menu">
                                <li>
                                    <a href="pages/forms/basic-form-elements.html" class=" waves-effect waves-block">Basic Form Elements</a>
                                </li>
                                <li>
                                    <a href="pages/forms/advanced-form-elements.html" class=" waves-effect waves-block">Advanced Form Elements</a>
                                </li>
                                <li>
                                    <a href="pages/forms/form-examples.html" class=" waves-effect waves-block">Form Examples</a>
                                </li>
                                <li>
                                    <a href="pages/forms/form-validation.html" class=" waves-effect waves-block">Form Validation</a>
                                </li>
                                <li>
                                    <a href="pages/forms/form-wizard.html" class=" waves-effect waves-block">Form Wizard</a>
                                </li>
                                <li>
                                    <a href="pages/forms/editors.html" class=" waves-effect waves-block">Editors</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                                <i class="material-icons">view_list</i>
                                <span>Tables</span>
                            </a>
                            <ul class="ml-menu">
                                <li>
                                    <a href="pages/tables/normal-tables.html" class=" waves-effect waves-block">Normal Tables</a>
                                </li>
                                <li>
                                    <a href="pages/tables/jquery-datatable.html" class=" waves-effect waves-block">Jquery Datatables</a>
                                </li>
                                <li>
                                    <a href="pages/tables/editable-table.html" class=" waves-effect waves-block">Editable Tables</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                                <i class="material-icons">perm_media</i>
                                <span>Medias</span>
                            </a>
                            <ul class="ml-menu">
                                <li>
                                    <a href="pages/medias/image-gallery.html" class=" waves-effect waves-block">Image Gallery</a>
                                </li>
                                <li>
                                    <a href="pages/medias/carousel.html" class=" waves-effect waves-block">Carousel</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                                <i class="material-icons">pie_chart</i>
                                <span>Charts</span>
                            </a>
                            <ul class="ml-menu">
                                <li>
                                    <a href="pages/charts/morris.html" class=" waves-effect waves-block">Morris</a>
                                </li>
                                <li>
                                    <a href="pages/charts/flot.html" class=" waves-effect waves-block">Flot</a>
                                </li>
                                <li>
                                    <a href="pages/charts/chartjs.html" class=" waves-effect waves-block">ChartJS</a>
                                </li>
                                <li>
                                    <a href="pages/charts/sparkline.html" class=" waves-effect waves-block">Sparkline</a>
                                </li>
                                <li>
                                    <a href="pages/charts/jquery-knob.html" class=" waves-effect waves-block">Jquery Knob</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                                <i class="material-icons">content_copy</i>
                                <span>Example Pages</span>
                            </a>
                            <ul class="ml-menu">
                                <li>
                                    <a href="pages/examples/sign-in.html" class=" waves-effect waves-block">Sign In</a>
                                </li>
                                <li>
                                    <a href="pages/examples/sign-up.html" class=" waves-effect waves-block">Sign Up</a>
                                </li>
                                <li>
                                    <a href="pages/examples/forgot-password.html" class=" waves-effect waves-block">Forgot Password</a>
                                </li>
                                <li>
                                    <a href="pages/examples/blank.html" class=" waves-effect waves-block">Blank Page</a>
                                </li>
                                <li>
                                    <a href="pages/examples/404.html" class=" waves-effect waves-block">404 - Not Found</a>
                                </li>
                                <li>
                                    <a href="pages/examples/500.html" class=" waves-effect waves-block">500 - Server Error</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                                <i class="material-icons">map</i>
                                <span>Maps</span>
                            </a>
                            <ul class="ml-menu">
                                <li>
                                    <a href="pages/maps/google.html" class=" waves-effect waves-block">Google Map</a>
                                </li>
                                <li>
                                    <a href="pages/maps/yandex.html" class=" waves-effect waves-block">YandexMap</a>
                                </li>
                                <li>
                                    <a href="pages/maps/jvectormap.html" class=" waves-effect waves-block">jVectorMap</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                                <i class="material-icons">trending_down</i>
                                <span>Multi Level Menu</span>
                            </a>
                            <ul class="ml-menu">
                                <li>
                                    <a href="javascript:void(0);" class=" waves-effect waves-block">
                                        <span>Menu Item</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class=" waves-effect waves-block">
                                        <span>Menu Item - 2</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                                        <span>Level - 2</span>
                                    </a>
                                    <ul class="ml-menu">
                                        <li>
                                            <a href="javascript:void(0);" class=" waves-effect waves-block">
                                                <span>Menu Item</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                                                <span>Level - 3</span>
                                            </a>
                                            <ul class="ml-menu">
                                                <li>
                                                    <a href="javascript:void(0);" class=" waves-effect waves-block">
                                                        <span>Level - 4</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="pages/changelogs.html" class=" waves-effect waves-block">
                                <i class="material-icons">update</i>
                                <span>Changelogs</span>
                            </a>
                        </li>
                        <li class="header">LABELS</li>
                        <li>
                            <a href="javascript:void(0);" class=" waves-effect waves-block">
                                <i class="material-icons col-red">donut_large</i>
                                <span>Important</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class=" waves-effect waves-block">
                                <i class="material-icons col-amber">donut_large</i>
                                <span>Warning</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class=" waves-effect waves-block">
                                <i class="material-icons col-light-blue">donut_large</i>
                                <span>Information</span>
                            </a>
                        </li>
                    </ul><div class="slimScrollBar" style="background: rgba(0, 0, 0, 0.5); width: 4px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 0px; z-index: 99; right: 1px; height: 123.571px;"></div><div class="slimScrollRail" style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                </div>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    © 2016 - 2017 <a href="javascript:void(0);">AdminBSB - Material Design</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0.5
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->

    </section>
        @RenderBody()
    <script src="/TeacherDashboard/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="/TeacherDashboard/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="/TeacherDashboard/plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="/TeacherDashboard/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="/TeacherDashboard/plugins/node-waves/waves.js"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="/TeacherDashboard/plugins/jquery-countto/jquery.countTo.js"></script>

    <!-- Morris Plugin Js -->
    <script src="/TeacherDashboard/plugins/raphael/raphael.min.js"></script>
    <script src="/TeacherDashboard/plugins/morrisjs/morris.js"></script>

    <!-- ChartJs -->
    <script src="/TeacherDashboard/plugins/chartjs/Chart.bundle.js"></script>

    <!-- Flot Charts Plugin Js -->
    <script src="/TeacherDashboard/plugins/flot-charts/jquery.flot.js"></script>
    <script src="/TeacherDashboard/plugins/flot-charts/jquery.flot.resize.js"></script>
    <script src="/plugins/flot-charts/jquery.flot.pie.js"></script>
    <script src="/TeacherDashboard/plugins/flot-charts/jquery.flot.categories.js"></script>
    <script src="/TeacherDashboard/plugins/flot-charts/jquery.flot.time.js"></script>

    <!-- Sparkline Chart Plugin Js -->
    <script src="/TeacherDashboard/plugins/jquery-sparkline/jquery.sparkline.js"></script>

    <!-- Custom Js -->
    <script src="/TeacherDashboard/js/admin.js"></script>
    <script src="/TeacherDashboard/js/pages/index.js"></script>

    <!-- Demo Js -->
    <script src="/TeacherDashboard/js/demo.js"></script>

</body>
</html>
