@model IEnumerable<Edu_Store.Models.Cart>

@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>*@

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<div class="container">
<table class="table">
    <thead>
        <tr>
            <th style="color:#111b51;">
                @Html.DisplayNameFor(model => model.Course)
            </th>
                <th style="color:#111b51;">
                    ACTIONS
                    </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Title)
            </td>
            <td>
                <a asp-controller="Course" asp-action="Details" asp-route-id="@item.CourseID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}

    </tbody>
</table>
</div>
<form method="post" asp-controller="" asp-action="">
    <input type="submit" value="Get Courses" style="background:#ff5a2c;font-weight:500;color:white;font-size:12px;height:36px;line-height:36px;width:80px;display:flex;justify-content:center;margin:auto;margin-bottom:10px;" />
</form>
